*{
    margin: 0;
    padding: 0;

}
.Navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(172, 169, 169);

}
.nav_izq{
    background-color:rgb(255, 255, 255);
    height: 60px;
    width: 5%;

}
.nav_semizq{
    background-color: rgb(255, 255, 255);
    background-image: url(imagenes/youtube.png);
    background-size: contain;
    height: 60px;
    width: 11%;
}
.nav_centro{
    background-color: rgb(255, 255, 255);
    height: 60px;
    width: 55%;
}

.nav_der{
    background-color: rgb(255, 255, 255);
    height: 60px;
    width: 25%;
}
.content_grandpa{
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: rgba(121, 115, 115, 0.459);

}
.sidebar{
display: flex;
flex-direction:column;
width: 5%;
height: 100vh;
background-color: white;
border-right: 1px solid rgba(0, 0, 0, 0);
}
.boton_principal{
    background-color: rgb(255, 255, 255);
    height: 75px;

}
.boton_explorar{
    background-color: rgb(255, 255, 255);
    height: 75px;
}
.boton_shorts{
    background-color: rgb(255, 255, 255);
    height: 75px;
}
.boton_suscripciones{
    background-color: rgb(255, 255, 255);
    height: 75px;
}
.boton_biblioteca{
    background-color: rgb(255, 255, 255);
    height: 75px;
}
.boton_historial{
    background-color: rgb(255, 255, 255);
    height: 75px;
}
.content{
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    flex-direction: row ;
    width: 95%; 
    height: 100%;
    flex-direction: column;
    background-color: rgb(24, 27, 27);
}
.content_1{
 width: 100%;
 height: 10%;
 border-bottom: 1px solid rgb(172, 169, 169); 
 display: flex;
 justify-content: space-around;
 background-color: rgb(255, 255, 255);

}
.recomendado_1{
    background-color: rgb(235, 231, 231);
    width: 70px;
    height: 30px;
    margin: 15px;
    border-radius: 10px;
}
.recomendado_2{
    background-color: rgb(235, 231, 231);
    width: 70px;
    height: 30px;  
    margin: 15px;
    border-radius: 10px;
}
.recomendado_3{
    background-color: rgb(235, 231, 231);
    width: 70px;
    height: 30px; 
    margin: 15px;
    border-radius: 10px;
}
.recomendado_4{
    background-color: rgb(235, 231, 231);
    width: 70px;
    height: 30px;
    margin: 15px;
    border-radius: 10px;
}
.recomendado_5{
    background-color: rgb(235, 231, 231);
    width: 70px;
    height: 30px;
    margin: 15px;
    border-radius: 10px;
}
.recomendado_6{
    background-color: rgb(235, 231, 231);
    width: 70px;
    height: 30px; 
    margin: 15px;
    border-radius: 10px;
}
.recomendado_7{
    background-color: rgb(235, 231, 231);
    width: 70px;
    height: 30px;
    margin: 15px;
    border-radius: 10px;
}
.recomendado_8{
    background-color: rgb(235, 231, 231);
    width: 70px;
    height: 30px; 
    margin: 15px;
    border-radius: 10px;
}
.recomendado_9{
    background-color: rgb(235, 231, 231);
    width: 70px;
    height: 30px;
    margin: 15px;
    border-radius: 10px;
}
.recomendado_10{
    background-color: rgb(235, 231, 231);
    width: 70px;
    height: 30px; 
    margin: 15px;
    border-radius: 10px;
}
.content_2{
    display: flex;
    flex: 1;
    flex-direction: row ;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 5%;
    width: 100%;
    background-color: rgb(235, 221, 221);
}
.video_1{
    background-color: red;
    width: 280px;
    height: 180px;
    margin: 10px;
} 
.video_2{
    background-color: blue;
    width: 280px;
    height: 180px;
    margin: 10px;
}
.video_3{
    background-color: yellow;
    width: 280px;
    height: 180px;
    margin: 10px;
}
.video_4{
    background-color: green;
    width: 280px;
    height: 180px;
    margin: 10px;
}
.content_3{
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    flex-direction: row ;
    align-items: flex-start;
    width: 100%;
    background-color: rgb(235, 221, 221);

}
.video_5{
    background-color: rgb(255, 115, 0);
    width: 280px;
    height: 180px;
    margin: 10px;
}
.video_6{
    background-color: rgb(255, 0, 136);
    width: 280px;
    height: 180px;
    margin: 10px;
}
.video_7{
    background-color: rgb(0, 255, 255);
    width: 280px;
    height: 180px;
    margin: 10px;
}
.video_8{
    background-color: rgb(0, 255, 98);
    width: 280px;
    height: 180px;
    margin: 10px;

}

